<h2 class="title mb-2 text-center"><i class="fa-solid fa-user text-primary"></i> <%= @caregiver.first_name.capitalize + " " + @caregiver.last_name.capitalize%></span></h2>

<% if @caregiver.photo.attached? %>
  <div class="text-center">
    <%= image_tag @caregiver.photo, height: 300, width: 400, crop: :fill, class: "rounded-circle w-50 h-50" %>
  </div>
<% end %>

<div class="text-center point-description border rounded bg-white mb-2 text-break text-left mt-3">
  <div class="p-3">
    <h5 class="page-title mb-3"><i class="fa-solid fa-heart text-danger"></i> <%= @caregiver.care_type.capitalize %></h5>
    <p><strong>Currículo</strong></p>
    <p><%= @caregiver.formation.capitalize %></p>
    <p><strong>Cidade:</strong> <%= @caregiver.city.capitalize %></p>
    <p><strong>Diária (R$):</strong> <%= @caregiver.value %></p>
  </div>
</div>

<div class="buttons text-center pt-2">
  <%= link_to "Contratar", new_caregiver_order_path(@caregiver), class: "contact btn btn-primary text-white"%>
  <%= link_to "Voltar", :back, class: "btn btn-secondary"%>
</div>

<%# <script>
  const contact = document.querySelector(".contact")
  contact.addEventListener("click", ((event) => {
    alert("O cuidador foi contatado")
  }))
</script> %>
