<h2 class="text-center"> <i class="fa-solid fa-cart-shopping text-primary"></i> Contratar serviços de <%= @caregiver.first_name.capitalize %></h2>

<%= simple_form_for([@caregiver, @order ], remote: true) do |f|%>

  <div class="form-inputs mt-3 bg-white p-4 mb-3 border">


    <%= f.input :days,
                required: true,
                autofocus: true,
                label: "Dias de trabalho",
                input_html: { autocomplete: "dias", min: 0, max: 22 }%>

    <% unless @order.days.nil? %>
      <p class="h5"><i class="fa-solid fa-tag text-info"></i> <span class="text-primary">Total: R$</span> <%= @caregiver.value * @order.days %></p>
    <%end%>

    <%= f.input :payment_type, label: "Forma de pagamento", as: :radio_buttons, collection: [['credit', 'Crédito'], ['debit', 'Débito']], label_method: :second, value_method: :first %>

    <%= f.input :card_number, label: "Número do cartão" %>
    <%= f.input :card_name, label: "Nome do cartão" %>
    <%= f.input :card_number, label: "Validade" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Contratar", class:"btn btn-primary btn mb-2" %>
    <%= link_to "Voltar", :back, class: "btn btn-secondary btn mb-2"%>
  </div>
<% end %>
